{% extends 'base/baseAdmin.html' %}
{% load bootstrap4 %}
{% block main %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id=divCreate class="container-fluid">
    <h1 class="mt-4">Lista de Empresas</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>Lista de empresas registradas
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <button class="genric-btn primary small" onclick="AddBussines()">Agregar Empresa</button> 
                <div>
                    <label for="id_name">Buscar por Empresa</label>
                    <input type="text" class="form-control" placeholder="Buscar por empresa" title="" required="" id="id_search">
                </div>
                <table class="table table-bordered dataTable" id="dataTableBussinest" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>NIT</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Representación</th>
                            <th>Patrón rubro</th> 
                            <th>Patrón cuenta</th> 
                            <th>Acciones</th> 
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>NIT</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Representación</th>
                            <th>Patrón rubro</th> 
                            <th>Patrón cuenta</th> 
                            <th>Acciones</th> 
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if object_list %}
                            {% for bussines in object_list %}                        
                                <tr>                          
                                    <td>{{bussines.name}}</td>
                                    <td>{{bussines.nit}}</td>
                                    <td>{{bussines.address}}</td>
                                    <td>{{bussines.phone}}</td>
                                    <td>{{bussines.representative}}</td>
                                    <td>{{bussines.rubroPattern}}</td>
                                    <td>{{bussines.accountPattern}}</td>
                                    <td>

                                        <a href="#" data-toggle="tooltip"   title="Registrar periodo contable">
                                            <button class="btn btn-primary btn-sm" onclick="deleteBussing('{{bussines.id}}','{{bussines.name}}')">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <h1 class="black-color">No hay usuarios registrados</h1>
                        {% endif %}  
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>
<!-- 
<div class="modal fade" id="myModalAP" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registrar período contable</h4>
            </div>
                <div class="modal-body">
                    <div  class="container-fluid">
                        <form id="addAP" action="">
                            {% csrf_token %}
                            {% bootstrap_form ACform %}
                            <div id="divCreateButtons"  class="form-group">
                                <button id="btnCreate" type="submit" class="genric-btn success circle" >Registrar  Período</button>
                                <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancelar</button>
                            </div> 
                            
                        </form>  
                    </div>
                </div>
            </div>         
        </div>  
</div>

<input type="number"   style="display:none" class="form-control"  id="mach" name="mach">             
<div class="modal fade" id="myModalOrigin" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registrar Origen</h4>
            </div>
                <div class="modal-body">
                    <div  class="container-fluid">
                        <form id="addOrigin" action="">
                            {% csrf_token %}
                            {% bootstrap_form Originform %}
                            <div id="divCreateButtonsOrigin"  class="form-group">
                                <button id="btnCreateOrigin" type="submit" class="genric-btn success circle" >Registrar Origen</button>
                                <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancelar</button>
                            </div>   
                    
                        </form>  
                    </div>
                </div>
            </div>         
        </div>  
</div>
<div class="modal fade" id="myModalOperation" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registrar Operación</h4>
            </div>
                <div class="modal-body">
                    <div  class="container-fluid">
                        <form id="addOperation" action="">
                            {% csrf_token %}
                            {% bootstrap_form ByAccountOpforms %}
                            {% bootstrap_form Operationform %}
                            <div id="divCreateButtonsOperation"  class="form-group">
                                <button id="btnCreateOperation" type="submit" class="genric-btn success circle" >Registrar Operación</button>
                                <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancelar</button>
                            </div>   
                    
                        </form>  
                    </div>
                </div>
            </div>         
        </div>  
</div>
 -->

<script>
 
var bussinesId;
var bussinesIdO;
var bussinesIdOp;
var accountPeriodId;

$(document).ready(function() {
		$('#dataTableBussinest').DataTable( {
		  "destroy":true,
		  "language": idioma_español,
		  
          dom: 'tp',
			buttons: [
				'copy', 'csv', 'excel', 'pdf', 'print'
			]
			
	} );	 	
} );

$('#id_search').on('input', function() { 
    var table = $("#dataTableBussinest").DataTable();
    table.column(0).search("^" + $(this).val(), true, false, true).draw();
});

function AddBussines(){
    window.location.href = "http://localhost:8000/bussines/createBussines"
}

function deleteBussing(id,name){
    swal({
        title: "Desea eliminar la empresa " + name + "?",
        text: "Al confirmar esta acción, la empresa " + name + " sera eliminado.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '{% url "deleteBussines"  0 %}'.replace('0', localStorage.getItem('userID')),
                    data: {
                        'bussinesID': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.DELETE){
                            $("#dataTableBussinest").load(" #dataTableBussinest");
                        }
                    }
                 });
            }
        })
}
//---------------Fin del Java Script Operación-------------

</script>

{% endblock %}
