{% extends 'base/baseAdmin.html' %}


{% block main %}
<br>
<br>
<br>
<br>
<br>
	
{% load bootstrap4 %}
<div class="container">
    <form method="POST" id="formAddUser" >
        {% csrf_token %}
        <div class="Row">
            {% bootstrap_form form %}
        </div>
        <div class="Row">
            <button type="submit" class="primary-btn">Crear usuario</button>
        </div>
    </form>
</div>
<!-- <script>
$("form#formAddUser").submit(function() {
	window.location.href = "http://localhost:8000/admin/"+localStorage.getItem('userID')+"/";
    $('form#formAddUser').trigger("reset");
    return false;
});
</script> -->
    
{% endblock %}