{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>SICAP</title>
	{% block css %}
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/SICAP.ico' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/carga.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<!-- para generar el DataTable del usuario -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />



	{% endblock %}

</head>

<body>
	<!-- start header Area -->	
	<header id="header">
		
		<div class="container main-menu col-md-10">
			
			<div class="row align-items-center justify-content-between d-flex">
				<div class="myTablaInform" >
					<table BORDER="#00FFFF">
						<tr>
							<th><label for="inputPassword6" style="color:rgb(0,0,0);">USUARIO:</label></th>
							<th><label for="inputPassword6" style="color:rgb(0,0,0);">{{request.user.first_name}}</label></th>
						</tr>
					</table>
				</div>
				<div  id="logo" class="myLogo ">
					<a href="index.html"><img  src="{% static 'login/images/SICAP2_opt2.png' %}" alt="" title="" ></a>
				</div>
					
				<nav id="nav-menu-container">
					<ul  class="nav-menu">
						<li>
							<a href="{% url 'userLogout' %}" style="color:rgb(0,0,0);">Finalizar</a>
						</li>
					</ul>
				</nav>	
			</div>
		</div>
	</header>
	<!-- end header Area -->
	<!-- start banner Area -->														
	<section class="home-banner-area">

		<br>
		<br>
		<br>

		{% block main %}
		{% endblock %}
	</section>
	<!-- End banner Area -->

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- End feature Area -->


    {% block js %}
	

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/easing.min.js' %}"></script>
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
	<script src="{% static 'js/hexagons.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


	<!--Carrusel Minified JS library -->
	<!-- CarruselCompiled and minified Bootstrap JavaScript -->
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js" defer></script>
	<!--library para los buttons of export -->
	<script src="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" defer></script>
	<script src="https:////cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" defer></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
	<!--library para los reportes graficos en general -->
	<!-- Page level plugins -->
	<script >

		var idioma_español ={
		  
		  "sProcessing": "Procesando ...",
		  "sLengthMenu": "Mostrar _MENU_ registros",
		  "sZeroRecords": "No se encontraron resultados",
		  "sEmptyTable": "Ningún dato disponible en esta tabla",
		  "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		  "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
		  "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
		  "sInfoPostFix": "",
		  "sSearch": "Buscar:",
		  "sUrl": "",
		  "sInfoThousands": ",",
		  "sLoadingRecords": "Cargando ...",
		  "oPaginate": {
			  "sFirst": "Primero",
			  "sLast": "Último",
			  "sNext": "Siguiente",
			  "sPrevious": "Anterior"
		  },
		  "oAria": {
			  "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
			  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
		  },
		  "buttons": {
			  "copy": "Copiar",
			  "colvis": "Visibilidad",
			  "print" : "Imprimir"
		  }
		}
	</script>
	
    {% endblock %}
	<footer class="sticky-footer bg-white" style="display:none">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
			<span>Andres Felipe Serrato Gomez &copy; Email: andres.serrato@correounivalle.edu.co </span>
			<br>
			<span>Jhonatan Valencia Abonia &copy; Email: jhonatan.valencia.abonia@correounivalle.edu.co</span>	
			<div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>		
          </div>
        </div>
	</footer>

</body>

</html>